__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.venv/
venv/

history/
images/
__pycache__/

.delivery_tmp/*
!.delivery_tmp/ida/
!.delivery_tmp/ida/**
!.delivery_tmp/idapro/
!.delivery_tmp/idapro/**
!.delivery_tmp/bindiff/
!.delivery_tmp/bindiff/**

.git/
.gitignore

clicks.csv
pt.log

tests/
test/

third_party/
data/

*.tar
*.tar.gz
